:root {
    --primary-dark-cyan-color: hsl(158, 36%, 37%);
    --primary-cream-color: hsl(30, 38%, 92%);
    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-family: monospace;
    --font-size: 14px;
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .mobile {
        /* display: block; */
        transition: none;
        display: flex;
    }
    body {
        background-color: unset;
    }
    .overlay {
        position: relative;
        display: block;
        background-color: rgb(243, 234, 227);
        width: 270px;
        height: 600px;
        border: none;
        border-radius: 4px;
    }
    .cart {
        top: 150px;
        position: absolute;
    }
    .cart-img img {
        height: 300px;
    }
    .cart-img {

    }
    .infor-cart {
        position: absolute;
        display: block;
    }
}