* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background-color: rgb(243, 234, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cart {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;

}
.cart-img {
    position: relative;
    transition: all 0.8s;
    z-index: 1;
}
.cart-img img {
    width: 250px;
    height: 350px;
}
.infor-cart {
    background-color: white;
    width: 250px;
    height: 350px;
    padding-top: 25px;
    padding-left: 20px;
    cursor: default;
    position: absolute;
    transition: all 0.8s;
}
.title-cart {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 500;
    cursor: default;
}
.name-product {
    padding-top: 40px;
    cursor: default;
    font-weight: 700;
}
.descript-product {
    font-size: var(--font-size);
    font-family: inherit;
    font-weight: 200;
    font-family: monospace;
    cursor: default;
    padding-top: 40px;
}
.price-product {
    padding-top: 30px;
    font-size: var(--font-size);
    font-family: inherit;
    cursor: default;
    font-family: cursive;
}
.price-sell {
    color: green;
    font-weight: 700;
    cursor: default;
    font-family: cursive;
}
.price-old {
    font-family: auto;
    font-size: smaller;
    text-decoration: line-through;
    cursor: default;
    padding-left: 16px;
}
.add-cart {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 210px;
    height: 46px;
    margin-top: 20px;
    background-color: rgb(44, 131, 99);
    outline: none;
    border: none;
    border-radius: 18px;
}
.add-cart i {
    color: white;
    padding-left: 3px;
}
.add-cart p {
    padding-left: 8px;
    color: white;
    font-size: var(--font-size);
    font-family: inherit;
}
.add-cart:hover {
    cursor: pointer;
    background-color: rgb(115, 132, 126);
}
.cart:hover .cart-img {
    transform: translateX(-125px);
}
.cart:hover .infor-cart {
    transform: translateX(125px);
}
.overlay {
    display: none;
}